/* ***** commons ***** */

body {
    font-family: 'Roboto', sans-serif;
}

.fa-star {
    font-size: 1.2rem;
    border: 1px;
    position: relative;
}

.fa-star::after {
    content: '';
    display: block;
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-top: 2px solid;
    border-image-slice: 1;
}

.ms_star-white::after {
    border-image-source: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 40%, rgba(255,255,255,0) 40%, rgba(255,255,255,0) 60%, rgba(255,255,255,1) 60%, rgba(255,255,255,1) 100%);
}

.ms_star-black::after {
    border-image-source: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 40%, rgba(0,0,0,0) 40%, rgba(0,0,0,0) 60%, rgba(0,0,0,1) 60%, rgba(0,0,0,1) 100%);
}

/* ***** header ***** */

.ms_nav-bg{
    background-color: #2C3E50;
}


/* ***** main ***** */

main .ms_start,
main .ms_about {
    background-color: #1ABC9C;
}

main .ms_start img {
    max-width: 200px;
}

main .ms_layover {
    background-color: rgba(25,188,156,0.6);
}

main .ms_portfolio .col:hover .ms_layover {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

main .ms_contact .ms_textarea {
    min-height: 150px;
}

main .ms_btn-green {
    color: #fff;
    background-color: #1ABC9C;
}

/* ***** footer ***** */

footer .ms_footer-top {
    background-color: #3A546D;
}

footer .ms_footer-bottom {
    height: 80px;
    background-color: #2C3E50;
}


footer .ms_footer-bottom .container,
footer .ms_footer-bottom .row {
    height: 100%;
}

footer .ms_circle {
    width: 1.3rem;
    height: 1.5rem;
}

footer .ms_link-green {
    color: #1ABC9C;
    text-decoration: none;
}

footer .ms_footer-bottom {
    font-size: .8rem;
}

/* +++++ debug +++++ */
/* 
.debug div[class*="container"] {
    border: 1px solid blue;
    height: 100%;
} */

/* .debug div[class^="col"],
.debug nav[class^="col"] {
    background-color: tomato;
    border: 1px solid black;
} */

/* .debug main .ms_start {
    height: 200px;
} */

/* .debug main .ms_portfolio .col {
    height: 100px;
} */

/* .debug main .ms_about {
    height: 400px;
} */

/* .debug main .ms_about .col-12 {
    height: 100px;
} */

/* .debug main .ms_contact .col-12 {
    height: 100px;
} */

/* .debug footer .ms_footer-top {
    height: 200px;
} */

/* .debug footer .ms_footer-top .col-12 {
    height: 100px;
} */