/* ***** commons ***** */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}


/* ***** header ***** */

header {
    height: 80px;
    background-color: #2C3E50;
}

header .container {
    height: 100%;
}

header .row {
    height: 100%;
}


/* ***** main ***** */

main .ms_start {
    background-color: #1ABC9C;
}


/* +++++ debug +++++ */

.debug div[class*="container"] {
    border: 1px solid blue;
    height: 100%;
}

.debug div[class^="col"] {
    background-color: tomato;
    border: 1px solid black;
}

.debug main .ms_start {
    height: 200px;
}

.debug main .ms_portfolio .col {
    height: 100px;
}